VITE_SUPABASE_URL=https://kydqftqtmnaehnnpnexi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt5ZHFmdHF0bW5hZWhubnBuZXhpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjEzNjY5MjgsImV4cCI6MjA3Njk0MjkyOH0.PazYNd6_LK8lSgwizJfLs_Yi56vlxznySzrZqywLEMM